@import url('https://fonts.googleapis.com/css2?family=Playwrite+MX+Guides&display=swap');

.App{
    margin: 0;
    height: 100vh;
    width: 100%;
}

.customImage{
    object-fit: cover;
}

.product-card {
    transition: transform 0.3s ease-in-out;
  }
  
  .product-card:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px 0 rgba(19, 59, 159, 0.2);

  }
  
  .product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .overflow-auto {
    overflow-x: auto;
  }
  
  .flex-nowrap {
    flex-wrap: nowrap !important;
  }
  
  .playwrite-mx-guides-regular {
    font-family: "Playwrite MX Guides", cursive;
    font-weight: 400;
    font-style: normal;
  }
  

  :root {
    --primary_color: #201E43;
    --secondary_color: #134b70;
    --third_color: #508C9B;
    --primary_font:  "Playwrite MX Guides";
  }
